@font-face {
  font-family: "Graphik";
  src: url("../../assets/fonts/graphik-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../../assets/fonts/graphik-semibold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/canela-thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/canela-thinitalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/canela-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/canela-lightitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/canela-medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("../../assets/fonts/canela-mediumitalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Fineday";
  src: url("../../assets/fonts/fineday.woff") format("woff"),
    url("../../assets/fonts/fineday.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
