ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

details {
  summary {
    cursor: pointer;
    list-style: none;

    &:focus {
      outline: none;
    }

    &::-webkit-details-marker {
      display: none; // hides marker in Webkit
    }
  }
}
