table {
  border-collapse: collapse;
  font-size: $small-font-size;
  margin: $base-spacing 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $heading-line-height;
  vertical-align: bottom;

  tr {
    border-bottom: $bright-border;
  }
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $base-border;
}

th {
  font-family: $heading-font-family;
  font-size: $small-font-size;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

th,
td {
  padding: $xsmall-spacing $small-spacing $xsmall-spacing 0;
}
