table {
  border-collapse: collapse;
  font-size: $small-font-size;
  margin: $base-spacing 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $heading-line-height;
  vertical-align: bottom;

  tr {
    border-bottom: 1px solid $dimmed-font-color;
  }
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $base-border;
}

th {
  color: $dimmed-font-color;
  font-family: $heading-font-family;
  font-size: $small-font-size;
  font-weight: $base-font-weight;
  letter-spacing: $wide-letter-spacing;
  text-transform: uppercase;
}

th,
td {
  padding: $xsmall-spacing $small-spacing $xsmall-spacing 0;
}
