// Typography
$base-font-family: "Graphik", $font-stack-system;
$heading-font-family: "Canela", $font-stack-system;

// Letter Spacing
$base-letter-spacing: 0;
$tight-letter-spacing: -0.02;
$wide-letter-spacing: 0.2rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0.2rem;
$large-border-radius: $base-border-radius * 2;

$base-spacing: 1.5rem;
$large-spacing: $base-spacing * 2;
$xlarge-spacing: $large-spacing * 2;
$xxlarge-spacing: $xlarge-spacing * 2;
$small-spacing: $base-spacing / 2;
$xsmall-spacing: $small-spacing / 2;

$article-width: 32rem;
$content-width: 48rem;

$base-z-index: 0;

// Font Sizes
$small-font-size: 0.85rem;
$base-font-size: 1rem;
$medium-font-size: 1.5rem;
$large-font-size: 2rem;
$xlarge-font-size: 3rem;
$xxlarge-font-size: 4rem;

// Font Weights
$light-font-weight: 300;
$base-font-weight: normal;
$heavy-font-weight: bold;

// Colors
$black: #000000;
$dark-gray: #222222;
$medium-gray: #999999;
$light-gray: #dddddd;
$whitesmoke: #f5f5f5;
$white: #ffffff;

$blue: #1565c0;
$red: #dd0000;

// Background Colors
$viewport-background-color: $dark-gray;
$viewport-dark-tint: darken($viewport-background-color, 5%);
$viewport-light-tint: lighten($viewport-background-color, 7%);

// Domain Colors
$base-font-color: $light-gray;
$dimmed-font-color: $medium-gray;
$action-color: lighten($base-font-color, 5%);
$playing-card-color: $white;

// Border
$base-border-color: $viewport-light-tint;
$base-border: 0.0625rem solid $base-border-color;
$base-border-double: 0.125rem solid $base-border-color;
$base-border-quadruple: 0.25rem solid $base-border-color;
$bright-border: 1px solid $base-font-color;
$background-border: 1px solid $viewport-background-color;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Breakpoints
$mobile-breakpoint: 550px;
$desktop-breakpoint: 720px;
$large-screen-breakpoint: 960px;
