<section class="section section--padded section--dark-bkgd">
  <div class="section__content section__content--centered">
    <small class="fine-print">
      &copy; <%= Time.now.year %> Keiran King, Raisha King.
    </small>
  </div>
</section>
