<section class="section section--padded section--dark-bkgd">
  <div id="mc_embed_signup" class="section__content section__content--slim section__content--centered">
    <p>
      Be the first to know when we have decks on deck.
    </p>

    <form
      action="https://littleblackdeck.us20.list-manage.com/subscribe/post?u=76ace10359b303869643fc218&amp;id=27376f1d20"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      target="_blank"
      novalidate
    >
      <div id="mce-responses">
        <div id="mce-error-response" style="display:none">
        </div>

        <div id="mce-success-response" style="display:none">
        </div>
      </div>

      <div id="mc_embed_signup_scroll" class="signup">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"> <!-- input to catch bots -->
          <input type="text" name="b_76ace10359b303869643fc218_27376f1d20" tabindex="-1" value="">
        </div>

        <input
          type="email"
          aria-label="email address"
          placeholder="email"
          name="EMAIL"
          id="mce-EMAIL"
          class="signup__email"
        >

        <input
          type="submit"
          value="Notify me"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="signup__submit"
        >
      </div>
    </form>
  </div>
</section>


<section class="section section--dark-bkgd">
  <div class="section__content section__content--centered">
    <small class="fine-print">
      &copy; <%= Time.now.year %> Keiran King, Raisha King.
    </small>
  </div>
</section>
