<section class="section section--dark-bkgd">
  <div class="section__content header">
    <a class="header__logo" href="/">
      <%= inline_svg "brand/logo-horizontal.svg",
        title: "Little Black Deck"
      %>
    </a>

    <nav class="header__left-nav nav">
      <details class="nav__item">
        <summary>
          Rules
        </summary>

        <%= partial "partials/games-list", locals: {
          classes: "nav__submenu"
        } %>
      </details>
    </nav>

    <nav class="header__right-nav nav">
      <a class="nav__item nav__item--cta">
        Buy
      </a>
    </nav>
  </div>
</section>
