<div class="
  playing-card
  <%= 'playing-card--'.concat(suit) if suit %>
  <% special_features.each do |feature| %>
    <%= 'playing-card--'.concat(feature) %>
  <% end %>
">
  <div class="playing-card__face">
    <% if rank %>
      <%= inline_svg "ranks/#{rank}.svg",
        title: "#{rank}",
        class: "mini-hand__rank"
      %>
    <% end %>

    <% if suit %>
      <%= inline_svg "suits/#{suit}.svg",
        title: "#{suit}",
        class: "mini-hand__suit"
      %>
    <% end %>
  </div>
</div>
