.u-columns--3 {
  columns: 3;
}

.u-link--incognito {
  color: currentColor;
  text-decoration: none;

  &:hover {
    color: currentColor;
    text-decoration: underline;
  }
}

.u-see {
  border: 2px dashed #9acd32;
}
