.u-columns--3 {
  columns: 3;
}

.u-link--incognito {
  color: currentColor;
  text-decoration: none;

  &:hover {
    color: currentColor;
    text-decoration: underline;
  }
}

.u-see {
  border: 0.125rem dashed #9acd32;
}
