$_list-indent: $base-spacing;

.article {
  h1 {
    border-bottom: 0.25rem solid $viewport-light-tint;
    margin-bottom: $base-spacing;
    margin-top: 0;
    padding-bottom: $small-spacing;
  }

  h2 {
    border-bottom: 0.125rem solid $viewport-light-tint;
    margin-top: $xlarge-spacing;
    padding-bottom: $small-spacing;
  }

  h3 {
    border-bottom: 0.125rem solid $viewport-light-tint;
    margin-top: $large-spacing;
    padding-bottom: $small-spacing;
  }

  p + ol,
  p + ul {
    margin-bottom: $small-spacing;
  }

  li {
    display: grid;
    grid-template-columns: $_list-indent auto;

    > * {
      grid-column: 2;
    }

    &::before {
      color: $dimmed-font-color;
      grid-column: 1;
    }
  }

  ol {
    counter-reset: article-list-counter;

    > li {
      counter-increment: article-list-counter;

      &::before {
        content: counter(article-list-counter);
      }
    }
  }

  > ol {
    margin-left: 0;

    @media(min-width: $large-screen-breakpoint) {
      margin-left: -$_list-indent;
    }
  }

  ul {
    > li {
      &::before {
        content: "\2666";
      }
    }
  }
}
