.article {
  h1 {
    border-bottom: 4px solid rgba($base-font-color, 0.1);
    margin-bottom: $base-spacing;
    margin-top: 0;
    padding-bottom: $small-spacing;
  }

  h2 {
    border-bottom: 2px solid rgba($base-font-color, 0.1);
    margin-top: $xlarge-spacing;
    padding-bottom: $small-spacing;
  }

  h3 {
    border-bottom: 2px solid rgba($base-font-color, 0.1);
    margin-top: $large-spacing;
    padding-bottom: $small-spacing;
  }

  ol {
    list-style-type: decimal;
    margin-left: $base-spacing;
  }

  ul {
    list-style-type: disc;
    margin-left: $base-spacing;
    padding-bottom: $small-spacing;
  }
}
