$_menu-color: $base-border-color;
$_nav-font-size: $base-font-size * 0.75;
$_nav-icon-size: 0.5rem;
$_submenu-width: 12rem;

.nav {
  display: flex;
  position: relative;
}

.nav__icon {
  fill: currentColor;
  height: $_nav-icon-size;
  width: $_nav-icon-size;
}

.nav__item {
  font-family: $heading-font-family;
  font-size: $_nav-font-size;
  letter-spacing: $wide-letter-spacing;
  padding: $small-spacing $base-spacing;
  text-transform: uppercase;

  &[open] {
    background-color: $_menu-color;
  }
}

.nav__item--cta {
  border: $bright-border;
  margin: $xsmall-spacing $small-spacing;
  padding: $xsmall-spacing $small-spacing;
}

.nav__submenu {
  background-color: $_menu-color;
  font-size: $small-font-size;
  left: 0;
  letter-spacing: $base-letter-spacing;
  padding: $small-spacing $base-spacing;
  position: absolute;
  text-transform: none;
  top: 100%;
  width: $xxlarge-spacing;
}
