$_pip-size: 1.25rem;
$_playing-card-height: $_pip-size * 2.5;
$_playing-card-width: $_pip-size * 5.5;

.playing-card {
  display: inline-block;

  & + & {
    margin-left: ($_pip-size * 1.2) - $_playing-card-width;
  }
}

.playing-card--highlight {
  .playing-card__face {
    height: $_playing-card-height + $small-spacing;
  }
}

.playing-card__face {
  align-items: flex-start;
  background-color: $playing-card-color;
  border: ($base-border-width * 2) solid $viewport-background-color;
  border-radius: $large-border-radius $large-border-radius 0 0;
  display: flex;
  flex-direction: column;
  height: $_playing-card-height;
  justify-content: flex-start;
  padding-top: $_pip-size / 5;
  width: $_playing-card-width;

  svg {
    height: $_pip-size;
    width: $_pip-size;
  }
}

.playing-card--clubs,
.playing-card--spades, {
  svg {
    fill: $black;
  }
}

.playing-card--diamonds,
.playing-card--hearts, {
  svg {
    fill: $red;
  }
}
