$_media-width: 10rem;

.promo {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media(min-width: $large-screen-breakpoint) {
    flex-direction: row;
  }

  & + & {
    margin-top: $large-spacing;

    @media(min-width: $large-screen-breakpoint) {
      margin-top: 0;
    }
  }
}

.promo__body {
  flex: 1 1 auto;
  order: 0;
  text-align: center;

  @media(min-width: $large-screen-breakpoint) {
    text-align: left;
  }
}

.promo__media {
  flex: 0 0 auto;
  max-width: $_media-width;

  @media(min-width: $desktop-breakpoint) {
    max-width: $_media-width * 1.25;
  }
}

.promo__media--left {
  transform: rotate(-2deg);

  @media(min-width: $large-screen-breakpoint) {
    margin-right: $large-spacing;
    order: -5;
  }
}

.promo__media--right {
  transform: rotate(2deg);

  @media(min-width: $large-screen-breakpoint) {
    margin-left: $large-spacing;
    order: 5;
  }
}
