.section {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: $base-spacing;
  padding-right: $base-spacing;

  @media(min-width: $mobile-breakpoint) {
    padding-left: $large-spacing + $base-spacing;
    padding-right: $large-spacing + $base-spacing;
  }
}

.section--bordered {
  border-bottom: $base-border;
  border-top: $base-border;
}

.section--padded {
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;

  @media(min-width: $mobile-breakpoint) {
    padding-bottom: $large-spacing;
    padding-top: $large-spacing;
  }
}

.section--light-bkgd {
  background-color: lighten($viewport-background-color, 5%);
}

.section--dark-bkgd {
  background-color: darken($viewport-background-color, 5%);
}

.section--tinted-bkgd {
  box-shadow: 0 3000px rgba($viewport-background-color, 0.85) inset;
  color: $white;
}

.section__content {
  width: 100%;

  @media(min-width: $mobile-breakpoint) {
    max-width: $content-width;
  }
}

.section__content--slim {
  @media(min-width: $mobile-breakpoint) {
    max-width: $article-width;
  }
}

.section__content--centered {
  text-align: center;
  width: auto;
}
