$_suggestion-card-height: 3.5 * $base-spacing;
$_suggestion-card-width: 2.25 * $base-spacing;

.suggestion {
  align-items: center;
  display: flex;
  font-size: $small-font-size;
  font-weight: $heavy-font-weight;
  margin: $base-spacing 0;

  &::before {
    align-items: flex-end;
    background-color: $white;
    border-radius: $base-border-radius;
    color: $viewport-background-color;
    content: "Little \A Black \A Idea";
    display: flex;
    font-size: $small-font-size;
    font-weight: $heavy-font-weight;
    height: $_suggestion-card-height;
    line-height: 1;
    margin-right: $small-spacing;
    padding: $xsmall-spacing;
    transform: rotate(-1deg);
    white-space: pre;
    width: $_suggestion-card-width;
  }
}
