<section class="section">
  <div class="section__content">
    <h1>
      Rules & Regulations
    </h1>

    <h2>
      One thing <br />leads to another...
    </h2>

    <h3>
      Variations and Gambits
    </h3>

    <p>
      Now is the time for all good men to come to the aid of their
      party. The <a>quick brown fox</a> jumps over the lazy dog, and the
      dish ran away with the spoon. It might work for you, too.
    </p>

    <hr />
  </div>
</section>
