<section class="section">
  <div class="section__content">
    <h1>
      Rules & Regulations
    </h1>

    <h2>
      One thing <br />leads to another...
    </h2>

    <h3>
      Variations and Gambits
    </h3>

    <p>
      Now is the time for all good men to come to the aid of their
      party. The <a>quick brown fox</a> jumps over the lazy dog, and the
      dish ran away with the spoon. It might work for you, too.
    </p>

    <hr />

    <%= partial "partials/hand", locals: {
      caption: "An example set",
      cards: [
        "4 of diamonds",
        "4 of hearts",
        "4 of clubs"
      ]
    } %>

    <%= partial "partials/hand", locals: {
      caption: "An example run",
      cards: [
        "8 of spades",
        "9 of spades",
        "10 of spades",
        "J of spades"
      ]
    } %>
  </div>
</section>
