<section class="section">
  <div class="section__content">
    <h1>
      Rules & Regulations
    </h1>

    <h2>
      One thing leads&nbsp;to&nbsp;another...
    </h2>

    <h3>
      Variations and Gambits
    </h3>

    <p>
      Now is the time for all good men to come to the aid of their
      party. The <a>quick brown fox</a> jumps over the lazy dog, and the
      dish ran away with the spoon. It might work for you, too.
    </p>

    <hr />
  </div>
</section>

<section class="section">
  <div class="section__content">
    <div class="promo">
      <div class="promo__body">
        <h2>
          Play your cards right.
        </h2>

        <p>
          The on-the-counter aphrodisiac.
        </p>
      </div>

      <div class="promo__media promo__media--right">
        <img class="image--cover" src="https://www.colorhexa.com/462d35.png" />
      </div>
    </div>

    <hr />

    <div class="promo">
      <div class="promo__body">
        <h2>
          One thing leads&nbsp;to&nbsp;another...
        </h2>

        <p>
          Kettle Black Ducks get weightier by rank and from one deck to the next.
        </p>
      </div>

      <div class="promo__media promo__media--left">
        <img class="image--cover" src="https://www.colorhexa.com/462d35.png" />
      </div>
    </div>
  </div>
</section>
